// colors
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorRed: #FF0000;
$colorGreen: #00FF00;
$colorBlue: #0000FF;
$colorYellow: #FFFF00;
$colorMagenta: #FF00FF;
$colorCyan: #00FFFF;

// greys
$colorGrey: #888;
$colorDarkGrey: #333;
$colorLightGrey: #aaa;

// links
$colorLink: #adadad;
$colorLinkHover: #0083cb;

// responsive breakpoints
$maxPageWidth: 1200px;
$bpMobileLarge: 500px; // for 480px
$bpTablet: 560px; // for 540px
$bpTabletLarge: 788px; // for 768px
$bpDesktop: 980px; // for 960px;
$bpDesktopLarge: 1155px; // for 1135px
$bpLarge: $maxPageWidth + 20; // for 1272px

// fonts
$fontBase: Helvetica, Arial, Verdana, sans-serif;
$fontSize: 16px;
$fontHeight: 20px;